body {
    background-color: #f0f5f9;
    color: #1e2022;
    font-family: 'Commissioner', sans-serif !important;
    scroll-behavior: smooth;
}
.sticky {
    position: fixed;
    z-index: 200;
    top: 0;
    width: 100%;
}
@media screen and (max-width: 768px), print {
    .button.is-fullwidth-mobile {
        display: flex;
        width: 100%;
    }
}
.fullwidth-centered {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.log-container {
    width: 330px;
    height: 270px;
}
.register-container {
    width: 330px;
    height: 360px;
}
