.product-container {
    background-color: #ffffff;
    padding: 1rem 2rem;
    box-sizing: border-box;
    border-radius: 1rem;
    margin: 1rem 0;
}
.product-description {
    text-justify: inter-word;
}
.product-img {
    width: 100%;
    background-color: #52616b;
    background-size: cover;
}
.price-box {
    font-size: 3rem;
}
.strikethrough {
    color: grey;
    opacity: 0.5;
}
